<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="resistor"></clr-icon>
        <span class="title">Mobi7Front</span>
      </a>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a
          class="nav-link active"
          [ngClass]="{ active: getActiveNav('home') }"
          href=""
          >Home</a
        >
        <a
          class="nav-link"
          [ngClass]="{ active: getActiveNav('lista-pois') }"
          href="acoes/lista-pois"
          >Localizar</a
        >
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<ng2-toasty></ng2-toasty>
